.infinite {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;

	.load-more-bar {
        width: 100%;
		height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
	}
}
