// font family
$font-family = "-apple-system","Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans","Noto Sans CJK Sc","Microsoft YaHei",sans-serif;

// font size
$font-size-html           = 62.5%;
$font-size-base			  = 1.6rem;

// color
$color-black               = #3e3e3e;
$color-black-light         = #7f7f7f;
$color-black-lighter       = #8c96a6;
$color-blue                = #2c9fff;
$color-red                 = #F44336;
$color-green               = #0ccc9e;
$color-gray                = #666;
$color-gray-light          = #999;
$color-yellow              = #f2971a;

// font-weight
$font-weight-lighter       = 200;
$font-weight-light         = 300;
$font-weight-normal        = 400;
$font-weight-bold          = 600;
$font-weight-bolder        = 700;
