<div class="wrapper">
	<div class="title-bar">
		<i class="iconfont icon-back"/>
		<div class="title">Shopping Cart</div>
	</div>

	<div class="user-box">
		<div class="avatar" style="background-image: url(/static/icons/avatar.jpg);"></div>
		<div class="name">Fedor.Jia</div>
	</div>

	<% if(productAmount > 0) { %>
		<ul class="items"></ul>

		<ul class="amount-box">
			<li>
				<div class="label">Product Amount</div>
				<div class="value product-amount">$ <%=productAmount%></div>
			</li>
			<li>
				<div class="label">Freight</div>
				<div class="value">$ <%=freight%></div>
			</li>
		</ul>
	<% } else { %>
		<div class="empty-tip">Nothing ...</div>
	<% } %>
</div>

<% if(productAmount > 0) { %>
<div class="footer-box">
	<div class="total-amount">Total Amount: $ <span><%=amount%></span></div>
	<div class="btn-buy">Pay</div>
</div>
<% } %>
