<div class="inner">
    <div class="thumbnail" style="background-image: url(<%=thumbnail%>);"></div>
    <div class="info">
        <div class="name"><%=title%></div>

        <div class="action">
            <div class="price">
                <span class="unit">$</span>
                <span class="text"><%=price%></span>
            </div>
            <div class="options">
                <div class="option iconfont icon-reduce"></div>
                <div class="total">x <span><%=count%></span></div>
                <div class="option iconfont icon-add" style="margin-top: 6px;"></div>
            </div>
        </div>
    </div>
</div>
