<div class="item-inner">
    <div class="thumbnail cover" style="background-image:url(<%=thumbnail%>)"></div>
    <div class="name"><%=title%></div>

    <div class="footer-box">
        <div class="price">
            <span class="unit">$</span>
            <span class="text"><%=price%></span>
        </div>
        <div class="options">
            <div class="option iconfont icon-reduce"></div>
            <div class="option iconfont icon-add" style="margin-top: 4px;"></div>
        </div>
    </div>
</div>
