@import "../utils/variables";
@import "../utils/mixins";

.detail-view {
    padding 24px 12px;
    overflow-y : auto;

    h1 {
      display : block;
      text-align : center;
      margin 24px 8px;
    }

    .desc {
        font-size $font-size-base;
        line-height 168%;
    }
}