@import "../utils/variables";
@import "../utils/mixins";

.detail-view {
    padding 24px 12px;
    overflow-y : auto;

    h1 {
      display : block;
      text-align : center;
      margin 24px 8px;
    }

    .desc {
        font-size $font-size-base;
        line-height 168%;
    }

    .btn-back,
    .btn-replace,
    .btn-next {
        border-radius : 4px;
        border: 1px solid $color-black-normal;
        padding 8px 12px;
        text-align : center;
        width : 28%;
        margin-left : 3%;
        display : inline-block;
    }
}