@import "../utils/variables";
@import "../utils/mixins";

.pick-view {
  background: url("/images/bg_pick.jpg");
  cover();
  text-align: center

  .box0 {
    .label {
      width: 84%;
      margin: 20% auto 0 auto;
      vertical-align middle;
      margin-left -8%;
    }

    .btn {
      margin: 0 auto 0 auto;
      display: block;
      width: 150px;
      margin-top -4%;
    }
  }

  .box1 {
    position: relative;
    height: 100%;
    overflow: hidden
    .label {
      width: 84%;
      margin: 33% auto 0 auto;
      vertical-align middle;
      display: none;
    }

    .coupon {
      margin: 0 auto 0 auto;
      display: block;
      width: 50%;
      vertical-align: middle;
      position: absolute;
      bottom: -100%;
      left: 50%;
      margin-left: -25%;
    }
  }
}