// font family
$font-family-normal = "Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun, sans-serif;

// color
$color-black-normal        = #292929;
$color-black-light         = #d6d5d5;

// font-weight
$font-weight-normal        = 400
$font-weight-bolder        = 700
$font-weight-bold          = 600
$font-weight-light         = 300
$font-weight-lighter       = 200


$font-size-base            = 15px;

