.alert-modal {
  background-color: #fff;
  border-radius: 6px;
  .inner {
  }
  .message {
    line-height: 200%;
    text-align: center;
    padding: 8% 8% 8% 8%;
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .btn {
    height: 48px;
    width: 100%;
    line-height: 48px;
    text-align: center;
  }
}