.overlay {
    text-align : center;
    .spinner {
        z-index : 101;
        width : 72%;
        padding 18px 8px;
        border-radius : 4px;
        background-color: rgba(0, 0, 0, 0.6);
        vertical-align :middle;
        margin-left: 14%;
        position : absolute;
        top: 45%;
        opacity : 0;
        .message {
            color: white;
            text-align : center;
            width : 100%;
        }
    }
}